.thumbico
{
  width: 80px;
  height: 80px;
}

.thumbico.icon_format_archive {

}
.thumbico.icon_format_archive_e {

}
.thumbico.icon_format_article {

}
.thumbico.icon_format_article_e {
}
.thumbico.icon_format_book {
  background: url('../../images/icon_format_book.png');
  background-image: url('../../images/icon_format_book.svg'), none;
  background-repeat: no-repeat;
}
.thumbico.icon_format_book_e {
}
.thumbico.icon_format_film {
}
.thumbico.icon_format_film_e {
}
.thumbico.icon_format_magazine {
}
.thumbico.icon_format_magazine_e {
}
.thumbico.icon_format_map {
}
.thumbico.icon_format_map_e {
}
.thumbico.icon_format_microfilm {
}
.thumbico.icon_format_music {
}
.thumbico.icon_format_music_e {
}
.thumbico.icon_format_newspaper {
}
.thumbico.icon_format_newspaper_e {
}
.thumbico.icon_format_object {
}
.thumbico.icon_format_online-resource {
}
.thumbico.icon_format_photograph {
}
.thumbico.icon_format_photograph_e {
}
.thumbico.icon_format_recording {
}
.thumbico.icon_format_recording_e {
}
.thumbico.icon_format_score {
}
.thumbico.icon_format_score_e {
}
.thumbico.icon_format_software {
}

