@media (max-width: 767px) {

  header {

    & > .container {
      width: 95%;
      margin: 0 auto;
    }

    section {
      & > .navbar-form {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
      }

      ul.nav {
        max-width: 316px;

        & > li {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;

            & > a {
              margin-right: 0;
            }
          }
        }
      }

      .navbar-form {
        .form-control {
          &.tt-hint {
            width: 91.9%;
            top: 0px !important;
          }
        }
      }
    }

    .navbar-brand {
      height: 85px;
    }
  }

  .home-content-box {
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    h2, ul, a, span {
      max-width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    a, span {
      display: block;

      &.copyright {
        margin-bottom: 14px;
      }
    }

    li {
      &:before {
        float: left;
      }
    }
  }

  .navbar {
    margin-bottom: 0;
  }

  .navbar-toggle {
    color: #fff;
  }

  .nav.nav-tabs {
    & > li {
      width: 131px;
      max-width: 131px;

      & > a {
        padding: 5px 7px;
        width: 131px;
        max-width: 131px;
      }
    }
  }

  .no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  
  .meta {
    span {
      display: block;
    }
  }

  .gutter-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .dropdown-menu {
    width: 100%;

    & > li {
      border-top: 1px solid @link-color;

      & > a {
        text-overflow: ellipsis;
        overflow: hidden;
        border-top: none !important;
      }
    }
  }

  .btn-frbr {
    width: 100%;
    overflow: hidden;
    & > span {
      text-overflow: ellipsis;
    }
  }

  ul.dropdown-menu {
    width: 200%;
    & > li {
      & > a {
        overflow-x: hidden;
        white-space: normal;
        padding: 10px 10px;
      }
    }
  }

  ul[aria-labelledby=dropdownLibraries] {
    position: fixed;
    max-height: 80%;
    max-width: 80%;
    top: 10%;
    left: 10%;
    overflow-y: scroll;
  }

  #sidebar-offcanvas-trigger {
    height: 40px;
    width: 13%;
    max-width: 40px;
    position: fixed;
    top: 32%;
    right: 0;
    border: 1px solid #3C4250;
    background-color: #f5f5f5;
    opacity: .5;
  }

  #sidebar-offcanvas-trigger.offcanvas-active {
    right: 80%;
  }

  #sidebar-offcanvas-trigger:hover {
    opacity: 1;
  }

  .sidebar {
    right: -80%;
    width: 80%;
    position: fixed;
    top: 0;
    height: 100%;
    padding: 0;
  }

  .sidebar.offcanvas-active {
    right: 0;
  }

  body.offcanvas-active {
    right: 80%;
    overflow-x: visible;
    overflow-y: visible;
  }

  body {
    position: relative;
    right: 0;
    overflow-x: hidden;
  }

  .sidebar.transition, body, #sidebar-offcanvas-trigger {
    -webkit-transition: right .3s ease-in;
    -moz-transition: right .3s ease-in;
    transition: right .3s ease-in;
  }

  a.advancedSearchLink {
    display: none;
  }

  .resultView {
    .search-controls {
      .text-right {
        form {
          float: left;
          margin-left: -30px;
          width: 100%;
          margin-bottom: 10px;

          label,
          label.checkbox {
            margin-bottom: 0;
          }
        }
      }
    }
    & > form {
      .pagination-container {
        margin-left: 0;
      }
    }
  }

  #libraryListSidebar {
    &.affix {
      position: relative !important;
      max-width: auto;
    }
  }
}