@media print {

    /* -------------------------------------------------------------------------------------
     General Rules
     ======================================================================================*/




     * {
         /*font-family: 'Open Sans', sans-serif;
         font-size: 11px;
         line-height: 1;
         */

    }

    a, a:link, a:visited {
        text-decoration: none;
        color: #000;
    }

    /* hide buttons */
    .btn {
        display: none;
    }

    /* Hide hidden Parts */
    .hidden {
        display: none;
    }

    .label {
        font-weight: bold;
        font-size: 13px;
        padding-right: 5px;
        border: none;
        display: inline-block !important;
    }

    /* Pfeil Liste Libraries
    .a-before {
        display: none !important;
    }
    */

    /* -------------------------------------------------------------------------------------
     Lists (Trefferliste/Merkliste)
     ======================================================================================*/
    div.resultView {

        div.results-top h1 {
            font-size: 18px;
            float: none;

            i.fa, span {
                font-size: inherit;
            }
        }

        div.results-top h2 {
            font-size: 16px;
            /*
            margin-top: 5px;
            margin-bottom: 10px;
            */
            span {
                font-size: inherit;
            }
        }

        .row.result {
            border-top: 1px solid #AAAAAA;

            .col-xs-10
            {
                width: 60%;
            }


            h2 {
                font-size: 16px;
                span, a {
                    font-size: inherit;
                }
            }

            span#subtitle {

            }

            .meta span
            {
                display: inline;
            }

            /* Media Info */
            span.label-info {
                margin-top: 8px;
                display: inline-block;
                padding: 0;
            }


            /* Libraries */

            #dropdownLibraries span {
                width: inherit;
            }

            ul.dropdown-menu {
                display: block;
                position: relative;
                border: none;
                max-height: none;

                li a {
                    padding: 0px;
                }
            }

        }

    }

    /* -------------------------------------------------------------------------------------
     Detail (Vollanzeige)
     ======================================================================================*/
    /* titles */
    div#record h3 {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    div#record h4 {
        font-size: 14px;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 8px;
    }

    /* tabs title */
    ul.recordTabs {
        padding-left: 0px;
    }

    ul.recordTabs li {
        display: none;
    }

    ul.recordTabs li.active {
        display: initial;
        font-size: 16px;
        font-weight: bold;
    }

    /* tab-content general */
    div#record-tabs {
        text-align: left;
    }

    div#record-tabs div.tab-pane {
        display: none;
    }

    div#record-tabs div.tab-pane.active {
        display: block;
    }

    /*
    div#record-tabs div.tab-pane{
        border-left: 1px solid #333;
        margin-left: 5px;
        padding-left: 8px;
    }
    */
    div#record-tabs div.tab-pane h3 {
        font-size: 14px;
        margin: 0px 0px 0px 0px;
    }

    div#record-tabs div.tab-pane h4 {
        font-size: 14px;
        font-weight: normal;
        margin: 0px 0px 0px 0px;
    }

    div#record-tabs div.tab-pane ul, ol {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

    }

    /* tab-content Beschreibung */
    div#record-tabs div.tab-pane table td, th {
        vertical-align: top;
    }

    /* tab-content Reihe Bände */
    div#record-tabs div.tab-pane div#treeSearch {
        display: none;
    }

    div#record-tabs div.tab-pane div#hierarchyTree i {
        display: none;
    }

}