@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body {
  color: #3C4250;
}

h1, h2, h3, h4 {
  font-weight: 600; /* semibold */
  color: #3c4250;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
  color: #373737;
}

h3 {
  margin-top: 10px;
}

h4 {
  color: #373737;
}

h4.resultViewSubTitle {
  margin-top: 0;
}

a, .btn-link {
  color: @link-color;
  text-decoration: none;
}

a:hover, .btn-link:hover {
  color: @link-color;
  text-decoration: none;
}

a:before {
  content: "\00BB";
  margin-right: 5px;
}

p {
  & > a:before {
    content: "";
    margin-right: 0;
  }
}

.btn-link {
  font-weight: bold;
}

/* btn styles */
.btn-primary, .pager li & > a,
.pager li & > span,
.pager li & > a:hover,
.pager li & > a:focus {
  color: #fff;
  background-color: @link-color;
  border-color: @link-color;
  border-radius: 2px;
  text-decoration: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #fff;
  border-color: #fff;
  color: @link-color;
}

a.btn-link:before {
  font-weight: bold;
}

.input-group-addon, .input-group-btn {
  width: 0;
}

/* Header */
header {
  min-height: 170px;
  background-color: @theme-color;
  ul[role="navigation"] {
    margin-top: 20px;
  }
  .btn-link {
    background-color: transparent;
    color: #fff;
  }
  .btn-link:hover {
    text-decoration: none;
    color: #fff;
  }
  .nav.nav-tabs {
    & > li {
      & > a {
        color: #fff;
        background-color: @link-color;
        border: none;
        border-radius: 2px;
        margin-right: 8px;
      }
      & > a:before {
        content: '';
        margin-right: 0;
      }
    }
  }
  .input-group-btn {
    .btn-primary {
      min-width: 0;
      width: 37px;
      border-radius: 0 2px 2px 0;
      padding: 5px 0;
      i {
        font-size: 16pt;
      }
    }
  }
  a {
    color: #fff;
  }
  .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
  }
  .breadcrumb {
    background-color: #fff;
    & > li {
      color: #3C4250;
      font-weight: 600;
      & > a {
        font-weight: 600;
        color: #106ca0;
      }
    }
  }
}

/* Tab Navigation */
.searchHomeContent .nav.nav-tabs,
header .nav.nav-tabs {
  border: none;
  margin-bottom: 8px;
}

header .nav-tabs & > li & > a:hover,
header .nav-tabs & > li & > a:focus,
header .nav-tabs & > li.active & > a,
header .nav-tabs & > li.active & > a:focus,
header .nav-tabs & > li.active & > a:hover {
  color: @link-color;
  background-color: #fff;
  border: none;
  font-weight: bold;
}

/* well stuff */
.well-lg {
  padding: 19px 13px;
}

.well .navbar-form, .well .navbar-form .form-control {
  width: 100%;
}

/* lists */
.list-group-item {
  text-overflow: ellipsis;
  overflow: hidden;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #3C4250;
  border-color: #3C4250;
}

/* tables */
.table {
  & > thead {
    & > tr {
      & > th {
        background: #3C4250;
        font-weight: 600;
        color: #fff;
        border: none;
        border-right: 1px solid #222;
      }
    }
  }
  & > tbody {
    & > tr {
      & > th {
        border: none;
        border-right: 1px solid #DDD;
        font-weight: 600;
      }
    }
  }
}

.table & > thead & > tr & > td,
.table & > tbody & > tr & > td,
.table & > tfoot & > tr & > td {
  border: none;
  border-right: 1px solid #DDD;
}

.table & > thead & > tr & > th:last-child,
.table & > thead & > tr & > td:last-child,
.table & > tbody & > tr & > td:last-child,
.table & > tfoot & > tr & > td:last-child {
  border-right: none;
}

.pager & > li:first-child & > a,
.pager & > li:first-child & > span {
  float: left;
}

.pager & > li:last-child & > a,
.pager & > li:last-child & > span {
  float: right;
}

.pager {
  margin-top: 0;
  padding: 20px 0;
  border-bottom: 1px solid #EEE;
  span {
    font-weight: 600;
  }
}

.navbar-brand {
  text-indent: -9999px;
  height: 170px;
  width: 240px;
  background: transparent url("@{theme-base-path}images/logo2.png") no-repeat 0 20px;
}

.container {
  & > .navbar-header {
    margin-left: -15px;
  }
}

.breadcrumb {
  & > li {
    & + {
      li:before {
        content: "|";
        color: #3C4250;
        padding: 0 15px;
        font-weight: normal;
      }
    }
  }
}

ul.dropdown-menu {
  & > li {
    & > a {
      border-top: 1px solid #ddd;
      padding: 10px 10px;
    }
  }
  & > li:first-child {
    & > a {
      border-top: none;
    }
  }
}

ul[aria-labelledby=dropdownLibraries] {
  max-height: 50%;
  overflow-y: scroll;
}

.sidebar {
  h4 {
    color: #3C4250;
    font-size: 24px;
  }
}

.navbar-form {
  .form-control {
    display: inline-block;
  }
}

.twitter-typeahead {
  padding: 6px 0 8px;
  .tt-hint {
    display: none;
  }
}

.holdingsAjaxSpinner {
  display: none;
}

div.memorize {
  margin: auto;
  margin-top: 25px;
}

.affix {
  .nav {
    & > li {
      & > a {
        padding: 0;
      }
      & > ul {
        display: none;
        & > li {
          & > a {
            font-size: 10px;
          }
        }
      }
    }
    & > li.active {
      background-color: #265680;
      border-color: #265680;
      & > a {
        color: #fff;
      }
      & > ul {
        display: block;
      }
    }
  }
}

#libraryListSidebar {
  max-height: 100%;
  overflow-y: auto;
}

#holdings-tab {
  ul {
    list-style: none;
    padding-left: 0;
  }
  .institutionBox {
    h4 {
      cursor: pointer;
    }
  }
  h3 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
  }
}

footer {
  p {
    strong {
      color: #3C4250;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
  hr {
    margin-top: 42px;
    margin-bottom: 42px;
  }
  .container {
    & > div {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}
