@media (min-width: 992px) {
  .form-control {
    max-width: 722px;
  }

  header {
    .form-control {
      min-width: 957px;
      max-width: 957px;
    }
    .searchbox {
      margin-left: -31px;
    }
  }

  .container {
    & > .navbar-header {
      margin-left: -15px;
    }
  }

  .well-lg {
    .form-control {
      min-width: 588px;
      max-width: 588px;
    }
  }

  #sidebar-offcanvas-trigger {
    display: none;
  }

  #hierarchyTree {
    a.jstree-anchor {
      padding-left: 35px;
      text-indent: -27px;
    }
  }
}
