@media (min-width: 992px) {
  .container {
    & > .navbar-header {
      margin-left: -15px;
    }
  }

  #sidebar-offcanvas-trigger {
    display: none;
  }

  #hierarchyTree {
    a.jstree-anchor {
      padding-left: 35px;
      text-indent: -27px;
    }
  }
}
