.search-controls {
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 17px;
  border-bottom: 1px solid #ccc;
  overflow-x: hidden;
  & > [class^=col-] {
    font-size: 12px;
  }
  .col-lg-8 {
    padding-top: 11px;
  }
}

.search-controls .form-control, .search-controls label {
  font-size: 12px;
  padding: 2px 6px;
  float: left;
  margin-left: 15px;
  margin-top: 5px;
}

.search-controls label, .search-controls .checkbox {
  display: none;
}