/* --- Bootstrap MODS ---*/
body {background:#619144;font-size:13px}
body a {color:#06C}
body a:hover {color:#09F}
body h1 {font-size:36px}
body h2 {font-size:30px}
body h3 {font-size:20px}
.container {background:#FFF;border-radius:5px;margin:18px auto;max-width:952px}
[role=logo] {background-image:url('../images/vufind_logo.png') no-repeat scroll left center transparent}

/* --- Search --- */
.sidebar .list-group-item.active {background:#FF9500;border-color:#FFA500;color:#FFF}
.sidebar .list-group-item.active:hover {background:#FF9500;border-color:#FFA500}
.sidebar .list-group-item.active .badge {color:#FF9500}
.sidebar .list-group-item.title {cursor:pointer}
[id^='side-collapse-'] .list-group-item:first-child {border-top-right-radius:0;border-top-left-radius:0}

/* --- Captcha --- */
#custom_recaptcha_widget { display:table; }
#custom_recaptcha_widget embed { display:none; }
#custom_recaptcha_widget #recaptcha_image { border:1px solid #000;padding:6px;margin:1em 0; }
#custom_recaptcha_widget #recaptcha_response_field { margin:0 .5em }
#custom_recaptcha_widget > div > a { display:inline-block;float:left;margin:5px 10px 5px 0; }

/* --- Random Items (results view) --- */

ul.random {
    list-style: none;
    padding: 0;
    margin: 0px;
    text-align:justified;
}

ul.random li {
    padding-bottom:10px;
}

ul.random li img {
    margin: 0 auto 1em auto;
}

ul.random.image, ul.random.mixed {
    text-align: center;
}

ul.random.image li img {
    margin: 0 auto;
}
