@import "variables";

/* --- Bootstrap MODS ---*/
body {
  background:@brand-primary;
  font-size:13px;
  & a,.btn-link {color:#06C}
  & a:hover,.btn-link:hover {color:#09F}
}
@media (min-width: 768px) {
  .badge {
    font-size:85%;
    margin-top:1px;
  }
}
.btn:not(.btn-link):not(.btn-primary) {
  background:@gray-lighter;
  border:1px solid @gray-light;
}
.btn-primary {
  border-color:darken(@brand-primary, 10%);
  font-weight:bold;
}
input[type=checkbox] {
  margin-top:2px;
  margin:0 auto;
  padding:0 2px;
}
.nav > li > a {
  padding:5px 10px;
}
.nav-pills {display:table;margin:0 auto}
.pagination {
  display:table;
  margin:18px auto;
  & > li {
    & > a,& > span {
      padding:4px 12px 3px 12px;
    }
  }
  & > .active {
    & > a, & > span, & > a:hover, & > span:hover, & > a:focus, & > span:focus {
      background:@brand-primary;
      border-color:@brand-primary;
    }
  }
}
.panel-heading {
  padding:0;
  a {
    cursor:pointer;
    display:inline-block;
    padding:6px;
    width:100%;
  }
}
.row {
  &:not(.top-row) {
    padding:6px 4px;
    margin:0 -4px;
  }
  &.result {
    &:nth-child(even) {
      background:#F0F0F0;
    }
    &:last-child {
      margin-bottom:1em;
    }
  }
}

/* --- Layout --- */
.container {
  background:#FFF;
  padding:0;
  .main & {
    padding-left:4px;
  }
}
header {
  margin-top:18px;
  .fa.fa-bars {font-size:21px}
  .navbar {
    border-radius:5px 5px 0 0;
    padding:0 10px;
    #searchForm {display:none !important}
    .navbar-brand {
      background-image:url('../../images/vufind_logo.png');
      color:transparent;
      height:65px;
      margin-top:5px;
      width:170px;
      &:hover,&:active,&:focus {
        color:transparent;
      }
    }
    .navbar-nav > li > a {padding:12px 6px}
    .navbar-right {margin-top:12px}
  }
  .searchbox {
    display:block !important;
    margin:0;
    #searchForm {
      margin:6px;
      padding:0;
      & .btn-primary,& .form-control {
        font-size:14px;
        height:32px;
        padding:5px 8px;
      }
      @media (min-width: 768px) {
        & .search-query {width:400px}
      }
    }
  }
  @media (max-width: 767px) {
    #header-collapse .navbar-right li {
      text-align:right;
    }
    #searchForm_type {
      margin-top:2px;
      margin-bottom:2px;
    }
  }
  .breadcrumb {
    border:1px solid #CCC;
    border-radius:0;
    border-width:1px 0;
    font-size:12px;
    margin-bottom:2px;
  }
}
footer {
  .container {
    border-radius:0 0 5px 5px;
  }
  margin-bottom:18px;
}

/* --- Record --- */
#hierarchyRecord {background:#FFF}

/* --- Sidebar --- */
@active-orange: #FF9500;
.sidebar {
  .list-group {
    margin-bottom:5px;
    label.list-group-item {
      padding-left:26px;
      input[type=checkbox] {
        margin-top:2px;
      }
    }
  }
  .list-group-item {
    padding:7px 10px 6px;
    &.active {
      background:@active-orange;
      border-color:@active-orange;
      color:#FFF;
      &:hover {background:@active-orange;border-color:@active-orange;}
      .badge {color:@active-orange;}
    }
  }
  & .slider-container {
    margin:4px 0 10px;
    width:95%;
    .slider-handle {
      background:#619144;
      opacity:1;
    }
  }
}
.sidebar .list-group-item,.top-row {
  .badge a {
    color:#FFF;
    &:hover {color:@brand-danger}
  }
}

/* --- Search --- */
.bulkActionButtons {margin-bottom:6px}
.left {text-align:center}
.result {
  label.pull-left {min-width:40px}
  .savedLists {
    margin:0 0 4px 0;
    padding:4px 0 4px 6px;
    ul {padding-left:18px;}
  }
}

/* --- Search Home --- */
.searchHomeContent {
  margin:1em auto;
  width:90%;
}

/* --- Advanced Search --- */
#advSearchForm .search {margin:0}

/* --- Captcha --- */
#custom_recaptcha_widget {
  display:table;
  embed { display:none; }
  #recaptcha_image {
    border:1px solid #000;
    padding:6px;
    margin:1em 0;
  }
  #recaptcha_response_field { margin:0 .5em; }
  & > div > a {
    display:inline-block;
    float:left;
    margin:5px 10px 5px 0;
  }
}

/* --- Random Items (results view) --- */
ul.random {
  list-style: none;
  padding: 0;
  margin: 0px;
  text-align:justified;
  li {
    padding-bottom:10px;
    img {
      margin: 0 auto 1em auto;
    }
  }
  &.image, &.mixed {
    text-align: center;
  }
  &.image li img {
    margin: 0 auto;
  }
}

/* --- Twitter Typeahead --- */
.twitter-typeahead {
  background: #FFF;
  padding: 7px 0 10px;
  border-radius: @border-radius-base;
}
.tt-dropdown-menu {
  margin:2px;
}

/* --- Browse --- */
[id^=list].list-group .col-sm-9 {margin:0}