.row.result {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.row.result:last-child {
  border-bottom: none;
}

.row.result .btn-group-vertical {
  max-width: 116%;
  min-width: 116%;
}

.row.result .btn-group-vertical .btn > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.row.result > .col-xs-11 {
  width: 99%;
}

.row.result i {
  color: #50BF9E;
  margin-left: -5px;
  margin-right: 7px;
}

.row.result .btn {
  text-align: left;
  overflow-x: hidden;
}

.row.result h2 {
  margin-top: 0;
}

.row.result h2 > a {
  font-size: 20px;
  font-weight: 600;
}

.row.result a {
  text-decoration: none;
}

.row.result > label {
  display: none;
}

.row.result h3 {
  font-size: 14px;
  margin-top: 0;
}

.row.result .meta span,
.row.result .meta a {
  padding: 5px 4px 5px 0;
}

.row.result .meta .label {
  color: #3c4250;
  text-align: left;
  display: inline-block;
  min-width: 33%;
  max-width: 33%;
}

.row.result .meta span {
  margin-right: 20px;
}

.row.result .snippet {
  font-size: 13px;
  padding: 4px 0;
}

.searchtools a:after{
  content: "\2014" /*&mdash;*/
}

.searchtools a:last-child:after {
  content: '';
}

@media (min-width: 992px) {
  .row.result > .col-xs-11 {
    width: 98%;
  }
}

@media (min-width: 768px) {
  .row.result > .col-xs-11 {
     width: 97%;
   }

  .row.result .meta .label {
    max-width: 50%;
    min-width: 50%;
  }
}