@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body {
  color: #3C4250;
}

h1, h2, h3, h4 {
  font-weight: 600; /* semibold */
  color: #3c4250;
}

h1 { font-size: 26px; }
h2 { font-size: 20px; color: #373737; }
h3 { margin-top: 10px; }
h4 { color: #373737; }

h4.resultViewSubTitle {
  margin-top: 0;
}

a { color: #0d785b; text-decoration: none; }
a:hover { color: #0d785b; text-decoration: none; }

.input-group-addon, .input-group-btn {
  width: 0;
}

/* Tab Navigation */
header {
  min-height: 170px;
}

header ul[role="navigation"] {
  margin-top: 20px;
}

.searchHomeContent .nav.nav-tabs,
header .nav.nav-tabs {
  border-bottom: 0;
  margin-bottom: 5px;
}

.searchHomeContent .nav.nav-tabs li.active a,
header .nav.nav-tabs li.active a {
  border-bottom-color: #ddd;
}

header .nav > li > a:hover,
header .nav > li > a:focus,
header .nav .open > a,
header .nav .open > a:focus,
header .nav .open > a:hover {
  background-color: transparent;
  color: #fff;
  font-weight: 600;
}


 /*triangle under the tab*/
.searchHomeContent .nav.nav-tabs li.active:after,
header .nav.nav-tabs li.active:after{
  content: '';
  border: 9px solid transparent;
  width: 0;
  height: 0;
  border-top-color: #fff;
  position: absolute;
  top: 80%;
  left: 44%;
}

/*triangle under the tab*/
.searchHomeContent .nav.nav-tabs li.active a:after,
header .nav.nav-tabs li.active a:after {
  content: '';
  border: 10px solid transparent;
  width: 0;
  height: 0;
  border-top-color: #ddd;
  position: absolute;
  top: 99%;
  left: 44%;
}

.searchHomeContent .nav.nav-tabs > li > a,
header .nav.nav-tabs > li > a {
  font-weight: 600;
  color: #106ca0;
  padding: 5px 15px;
  margin-bottom: 5px;
}

header .nav.nav-tabs > li > a {
  color: #fff;
}

header .nav.nav-tabs > li > a:hover {
  color: #fff;
  text-decoration: none;
}

.searchHomeContent .nav.nav-tabs > li.active > a,
.searchHomeContent .nav.nav-tabs > li.active > a:hover,
header .nav.nav-tabs > li.active > a,
header .nav.nav-tabs > li.active > a:hover {
  color: #3c4250;
}


/* well stuff */
.well-lg {
  padding: 19px 13px;
}

.well .navbar-form,
.well .navbar-form .form-control {
  width: 100%;
}


/* btn styles */
.btn-primary,
.pager li > a, .pager li > span,
.pager li > a:hover, .pager li > a:focus {
  color: #fff;
  background-color: #0d785b;
  border-color: #0d785b;
  border-radius: 2px;
  text-decoration: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #fff;
  border-color: #fff;
  color: #0d785b;
}

.btn-link {
  background-color: transparent;
  color: #fff;
}

/* lists */
.list-group-item {
  text-overflow: ellipsis;
  overflow: hidden;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #3C4250;
  border-color: #3C4250;
}


/* tables */
.table > thead > tr > th {
  background: #3C4250;
  font-weight: 600;
  color: #fff;
  border: none;
  border-right: 1px solid #222;
}

.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: none;
  border-right: 1px solid #DDD;
}

.table > thead > tr > th:last-child,
.table > thead > tr > td:last-child,
.table > tbody > tr > td:last-child,
.table > tfoot > tr > td:last-child {
  border-right: none;
}


/* table */
.table > tbody > tr > th {
  border: none;
}

.table > tbody > tr > th {
  border-right: 1px solid #DDD;
  font-weight: 600;
}

.pager > li:first-child > a, .pager > li:first-child > span {
  float: left;
}

.pager > li:last-child > a, .pager > li:last-child > span {
  float: right;
}

.pager {
  margin-top: 0;
  padding: 20px 0;
  border-bottom: 1px solid #EEE;
}


.pager span {
  font-weight: 600;
}


/* header */
header {
  background-color: #50BF9E;
}

header a {
  color: #fff;
}

.navbar-brand {
  text-indent: -9999px;
  height: 170px;
  width: 240px;
  background: transparent url(../images/logo2.png) no-repeat 0 20px;
}

.container > .navbar-header {
  margin-left: -15px;
}

header .navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}

header .breadcrumb {
  background-color: #fff;
}

header .breadcrumb > li {
  color: #3C4250;
  font-weight: 600;
}

header .breadcrumb > li > a {
  font-weight: 600;
  color: #106ca0;
}

.breadcrumb > li + li:before {
  content : "|";
  color: #3C4250;
  padding: 0 15px;
  font-weight: normal;
}

ul.dropdown-menu > li > a {
   border-top: 1px solid #ddd;
   padding: 10px 10px;
}

ul.dropdown-menu > li:first-child > a {
   border-top: none;
}

ul[aria-labelledby=dropdownLibraries] {
  max-height: 50%;
  overflow-y: scroll;
}

/* sidebar */
.sidebar h4 {
  color: #3C4250;
  font-size: 24px;
}


/* form controls (bootstrap fixes) */
.navbar-form .form-control {
  display: inline-block;
}

.twitter-typeahead {
  padding: 6px 0 8px;
}

.twitter-typeahead .tt-hint {
  display: none;
}


/* misc */
.holdingsAjaxSpinner {
  display: none;
}

div.memorize  {
  margin: auto;
  margin-top: 25px;
}

.icon_notepad_add {
  display: block;
  font-size: 0;
  line-height: 0;
  text-indent: -1000px;
  width: 30px;
  height: 30px;
  background-image: url(../images/icon_notepad_add.gif);
  background-position: 0 -1px;
  background-repeat: no-repeat;
}

.icon_show span {
  padding-left: 19px;
  background-image: url(../images/icon_show.gif);
  background-position: 0 2px;
  background-repeat: no-repeat;
}


.affix .nav > li > a {
  padding: 0;
}

.affix .nav > li.active {
  background-color: #265680;
  border-color: #265680;
}

.affix .nav > li.active > a {
  color: #fff;
}

.affix .nav > li > ul {
  display: none;
}

.affix .nav > li > ul > li > a {
  font-size: 10px;
}

.affix .nav > li.active > ul {
  display: block;
}

#libraryListSidebar {
  max-height: 100%;
  overflow-y: auto;
}


/* holdings tab */
#holdings-tab ul {
  list-style: none;
  padding-left: 0;
}

#holdings-tab .institutionBox h4 {
  cursor: pointer;
}

#holdings-tab h3 {
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
}

/* footer */
footer p strong {
  color: #3C4250;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer hr {
  margin-top: 42px;
  margin-bottom: 42px;
}

footer .container > div {
  margin-left: -15px;
  margin-right: -15px;
}