/* -------------------------------------------------------------------------------------
 General Rules
 ======================================================================================*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;

}

a, a:link, a:visited {
    text-decoration: none;
    color: #000;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

/* hide buttons */
.btn {
    display: none;
}

/* Hide hidden Parts */
.hidden {
    display: none;
}

.label {
    font-weight: bold;
    padding-right: 5px;
}

/* -------------------------------------------------------------------------------------
 Detail (Vollanzeige)
 ======================================================================================*/

/* indent detail information */
.meta {
    border-left: 1px solid #333;
    margin-left: 5px;
    padding-left: 8px;
}

/* -------------------------------------------------------------------------------------
 Tabs (Vollanzeige)
 ======================================================================================*/

/* tabs title */

ul.recordTabs{
    padding-left: 0px;
}

ul.recordTabs li
{
    display: none;
}

ul.recordTabs li.active
{
    display: initial;
    font-size: 16px;
    font-weight: bold;
}

/* tab-content general */

div#record-tabs
{
    text-align: left;
}

div#record-tabs div.tab-pane
{
    display: none;
}

div#record-tabs div.tab-pane.active {
    display: block;
}

div#record-tabs div.tab-pane{
    border-left: 1px solid #333;
    margin-left: 5px;
    padding-left: 8px;
}

div#record-tabs div.tab-pane h3
{
    font-size: 14px;
    margin: 0px 0px 0px 0px;
}

div#record-tabs div.tab-pane h4
{
    font-size: 14px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

div#record-tabs div.tab-pane ul, ol
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

/* tab-content Beschreibung */

div#record-tabs div.tab-pane table td,th
{
    vertical-align: top;
}

/* tab-content Reihe Bände */

div#record-tabs div.tab-pane div#treeSearch
{
    display: none;
}

div#record-tabs div.tab-pane div#hierarchyTree i
{
    display: none;
}