@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4 {
  font-weight: 600; /* semibold */
  color: #3c4250;
}

h1 { font-size: 26px; }
h2 { font-size: 20px; color: #106ca0; }
h4 { color: #106ca0; }

header {
  background-color: #50BF9E;
}

header a {
  color: #fff;
}

/* Tab Navigation */

.nav.nav-tabs {
  border-bottom: 0;
  margin-bottom: 5px;
}

.nav.nav-tabs li.active a {
  border-bottom-color: #ddd;
}

 /*triangle under the tab*/
.nav.nav-tabs li.active:after {
  content: '';
  border: 9px solid transparent;
  width: 0;
  height: 0;
  border-top-color: #fff;
  position: absolute;
  top: 80%;
  left: 44%;
}

/*triangle under the tab*/
.nav.nav-tabs li.active a:after {
  content: '';
  border: 10px solid transparent;
  width: 0;
  height: 0;
  border-top-color: #ddd;
  position: absolute;
  top: 99%;
  left: 44%;
}

.nav.nav-tabs > li > a {
  font-weight: 600;
  color: #106ca0;
  padding: 5px 15px;
  margin-bottom: 5px;
}

.nav.nav-tabs > li.active > a {
  color: #3c4250;
}

/* well stuff */

.well-lg {
  padding: 19px 13px;
}

.well .navbar-form,
.well .navbar-form .form-control {
  width: 100%;
}


/* btn styles */

.btn-primary, .btn-link, .btn-primary:hover, .btn-link:hover {
  color: #fff;
  background-color: #3c4250;
  border-color: #3c4250;
  border-radius: 4px;
  text-decoration: none;
}

/* form controls (bootstrap fixes) */
.navbar-form .form-control {
  display: inline-block;
}

/* misc */

.holdingsAjaxSpinner {
  display: none;
}

div.memorize  {
  margin: auto;
  margin-top: 25px;
}

.icon_notepad_add {
  display: block;
  font-size: 0;
  line-height: 0;
  text-indent: -1000px;
  width: 30px;
  height: 30px;
  background-image: url(../images/icon_notepad_add.gif);
  background-position: 0 -1px;
  background-repeat: no-repeat;
}

.icon_show span {
  padding-left: 19px;
  background-image: url(../images/icon_show.gif);
  background-position: 0 2px;
  background-repeat: no-repeat;
}