@media (min-width: 992px) {
  .form-control {
    max-width: 722px;
  }

  header .form-control {
    min-width: 957px;
    max-width: 957px;
  }

  header .searchbox {
    margin-left: -31px;
  }

  header .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .container > .navbar-header {
    margin-left: -15px;
  }

  .well-lg .form-control {
    min-width: 588px;
    max-width: 588px;
  }
}
