@media (min-width: 768px) {
  header .form-control {
    min-width: 721px;
    max-width: 721px;
  }

  header .searchbox {
    margin-left: -13px;
  }

  header .btn {
    margin-top: 10px;
    margin-bottom: 7px;
  }

  .main > .container > .row {
    margin-left: 0;
    margin-right: 0;
  }

  .container > .navbar-header {
    margin-left: 0;
    margin-right: -15px;
  }

  .navbar {
    margin-bottom: 0;
  }

  .searchHomeContent.row {
    margin-right: -15px;
  }

  #sidebar-offcanvas-trigger {
    height: 40px;
    width: 6%;
    max-width: 40px;
    position: fixed;
    top: 32%;
    right: 15px;
    border: 1px solid #3C4250;
    background-color: #f5f5f5;
    opacity: .5;
    cursor: pointer;
  }

  #sidebar-offcanvas-trigger:hover {
    opacity: 1;
  }

  .sidebar {
    display: none;
  }
}