@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  .main > .container > .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  header .navbar-collapse {
    width: 1140px;
  }

  .well .form-control {
    min-width: 701px;
    max-width: 701px;
  }

  header .form-control {
    max-width: 400px;
    min-width: 296px;
  }

  .navbar-form .checkbox {
    display: block;
  }

  .breadcrumb {
    display: block;
  }

  .container > .navbar-header {
    margin-left: -15px;
    margin-right: -15px;
  }
}
