@media screen and (max-width: 767px) {

	.main {
		margin: 0;
		width: 100%;
	}

	.mainbody {
		margin: 0 -40px;
	}

	.jumbotron {
		padding: 3% 0;
	}

	.searchbox .btn,
	.jumbotron .btn {
		width: 45%;
		height: auto;
		margin: 5px auto;
		padding: 2% 5%;

		background-color: #fff;
		color: #50bf9e;
	}

	.searchbox .btn:hover,
	.jumbotron .btn:hover {
		background-color: #50bf9e;
		color: #fff;
	}

	.row {
		margin: 0;
		width: 100%;
	}

	footer {
		background-color: #252932;
		color: #cccecd;
	}

	footer .row,
	footer ul {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	footer .row>div {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	footer a {
		color: #cccecd;
		font-size: 1.1em;
	}

	footer a:hover {
		color: #cccecd;
		text-decoration: none;
	}

	footer p {
		font-size: 1.2em;
		padding: 10px 15px;
	}

	footer li {
		list-style: none;
		padding: 5px 15px;
		width: 100%;
	}

	footer li:hover {
		background-color: #50bf9e;
	}

	.sidebar {
		right: -80%;
		width: 80%;
		position: absolute;
		top: 0;
		height: 100%;
		background-color: #F7F7F7;
		padding: 0px;
	}

	.container.offcanvas-active {
		right: 80%;
	}

	.container {
		position: relative;
		right: 0;
		-webkit-transition: right .3s ease-in;
		-most-transition: right .3s ease-in;
		transition: right .3s ease-in;
	}
}
